/*Azistara*/
/*Writtten August 8, 2020*/

body{
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
}

h1, #header{
    font-family: 'Mali', cursive;
    color:#4465A2;
    padding-left: 10px;
}

/*Navigation*/
#nav{
    background-color: #eeeeee;
    overflow: hidden;
    padding: 0px;
    box-shadow: 0px 2px 15px #acacac;
    position: fixed;
    width: 99%;
}
    /*NavButtons*/
 #nav a{
     float: left;
     display: block;
     color: darkgray;
     list-style-type: none;
     text-decoration: none;
     text-align: center;
     padding: 15px;
     font-family: "Segoe UI";
 }
 #nav a:hover{
    background-color: #c5c5c5;
    color: white;
}

    /*NavLogo*/
 #nav .logoImg{
     height: 15px;
     width: auto;
     scale: 1.5;
     padding: 1px 10px 0px 10px;
     filter: grayscale(100%);
 }
 #nav .logoImg:hover{
     filter: invert(100%) grayscale(100%);
 }
/*EndNav*/


