<!DOCTYPE html>
<!--Azistara 2020-->
<!--Written August 15, 2020-->
<!--MaterialCss-->

<head>
    <title>{{ page.title }} - Azistara.</title>
    <meta charset="utf-8" content="width=device-width, initial-scale=0.8," name="viewport">
    <link rel="stylesheet" href="/assets/css/materialize.css">
    <link rel="stylesheet" href="/assets/css/refinedMat.css">
    <script src="/assets/js/materialize.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
</head>

<body>
    <!--FABulous-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large light-blue accent-2" href="#navMnu">
            <i class="large material-icons">expand_less</i>
        </a>
        <ul>
            <li><a class="btn-floating purple lighten-2"></a></li>
            <li><a class="btn-floating blue"></a></li>
            <li><a class="btn-floating green"></a></li>
        </ul>
    </div>
    <!--Navigation-->
    <div id="navMnu" class="navbar-fixed">
        {% include navi.html %}
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ page.hero }}">
        </div>
    </div>

    <!--Post Title-->
    <div id="header" class="paraHeader">
        <h1>{{ page.title }}</h1>
        <h4>{{ page.subtitle }}</h4>
    </div>

    <!--Body-->
    <div id="contentArea">
        <div class="card z-depth-2 postBox">
            <div class="postWrap">
                <!--Categoty-->
                <div id="category" class="chipBag">
                    {% include p_cat.html %}
                </div>
                <!--Date published-->
                <h6 class="dateStamp"><i class="material-icons">schedule</i> {{ page.date }}</h6>
                <!--Post Content-->
                <div class="postSct postContent">
                    <p>
                        {{ content }}
                    </p>
                </div>
                <!--Meta Zone-->
                <div id="postSct metaArea">
                    <p>
                        Author, Social, and other stuff.<br>
                        Meta Coming soon.
                    </p>
                </div>
            </div>
            <!--Categories and tags-->
            <div id="tags" class="chipBag">
                <h6>Tags:</h6>
                {% include p_tags.html %}
            </div>
        </div>
    </div>

    <!--Footer-->
    <div id="footer">
        {% include footer.html %}
    </div>

    <script>
        M.AutoInit();
    </script>
    <script src="/assets/js/ab_main.js"></script>
</body>