/*Aiboku*/

@import url(materialize.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=Mali:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
html {
    /*background-color: #CCCCFF;*/
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-size: 1rem;
    /*background-color: #e0e0e0;*/
}

::-webkit-scrollbar {
    display: none;
}

.nav-link{
    display:none;
}

.material-tooltip {
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(110, 110, 110, 0.7);
    border-radius: 4px;
    margin: 1px 0 1px 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

div.azFooter.dynTheme>center {
    color: #9e9e9e;
    margin: 0 10px 0 10px;
}

.material-icons, label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.material-icons.alertBnr {
    margin: 7px 3px 10px 0;
    font-size: 25px !important;
    vertical-align: middle;
}

.material-icons.prefix {
    color: #9E9E9E;
}

/*Headers*/
h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h6 {
    text-transform: uppercase;
    color: lightgray;
}

.hdwrite {
    font-family: 'Mali', cursive
}

h4.navHead {
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    font-size: xx-large;
}

/*Post Headers*/
h1.post-title {
    margin-top: 11px;
    margin-bottom: -2px;
}

.post-author {
    margin-top: 11px;
    color: #9e9e9e;
}

h5.post-date {
    font-size: 18px;
    color: #bdbdbd;
    vertical-align: middle;
}

h5.post-date>i.material-icons {
    font-size: 18px !important;
    margin-top: -1.8px;
    vertical-align: middle;
}

/*Navbar*/
.navLogo {
    font-family: 'Mali', cursive;
    font-weight: normal;
    font-size: xx-large;
    transition: ease-in-out 0.5s;
    margin-top: -100px;
}

.navLogo:hover {
    text-shadow: 0px 0px 10px;
}

nav {
    /*background-color: #7984e9;*/
    background-color: #7984e9cb;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-link {
    font-family: 'IBM Plex Mono', monospace;
}

.nav-wrapper {
    padding: 0 10px 0 10px;
}

.sidenav-trigger {
    font-size: 45px;
}

.sidenav {
    background-color: rgba(255, 255, 255, 1);
}

.sidenav ul.sidenav-wrapper .sidenav-header {
    padding-left: 10px;
}

.sidenav-overlay, .modal-overlay {
    background-color: #42424242;
    animation: blur 0.3s ease-in both;
}

@keyframes blur {
    0% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

.alertBanner {
    text-align: center;
    padding: 2px;
    position: relative;
    background-color: #bbdefb;
    color: #0d47a1;
}

.alertBanner.warn {
    background-color: #fff9c4;
    color: #b86e00;
}

.alertBanner.critical {
    background-color: #ef5350;
    color: #ffcdd2;
}

/*Modal*/
.modal {
    border-radius: 20px;
    vertical-align: middle;
    margin-left: 50%;
    margin-right: 50%;
    margin: 0 auto;
}

.modal-close, .timepicker-close, .datepicker-cancel, .datepicker-done {
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.modal-content {
    padding: 15px;
}

.modal.bottom-sheet {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
    transition: 0.2s ease-out;
}

/*-Modal: Bottom Sheet*/
@media screen and (max-width:700px) {
    .modal.bottom-sheet {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width:1200px) {
    .modal.bottom-sheet {
        margin-left: 20rem;
        margin-right: 20rem;
    }
}

@media screen and (min-width:1420px) {
    .modal.bottom-sheet {
        margin-left: 30rem;
        margin-right: 30rem;
    }
}

@media screen and (min-width:2000px) {
    .modal.bottom-sheet {
        margin-left: 70rem;
        margin-right: 70rem;
    }
}

/*Content*/
.contentHeader {
    font-family: 'Mali', cursive;
    font-size: 45px;
}

#contentArea {
    padding-left: 20px;
    padding-right: 20px;
    scrollbar-width: none;
}

.card {
    padding: 5px 20px 5px 20px;
    margin: -100px 6% 20px 6%;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    #contentArea {
        padding-left: 0px;
        padding-right: 0px;
        scrollbar-width: none;
    }
    .card {
        padding: 15px;
        margin: 0 0 0 0;
        transition: 0.4s;
        border-radius: 0;
    }
}

@media screen and (min-width: 1400px) {
    #contentArea {
        padding-left: 40px;
        padding-right: 40px;
        scrollbar-width: none;
    }
    .card {
        margin: -100px 10% 20px 10%;
    }
}

/*Cats and Chips*/
chip.cat {
    background-color: #8c9eff;
    color: white;
    margin: -5px 0 -10px 0;
}

chip.tag {
    vertical-align: middle;
    font-size: 12px !important;
}

chip>i.material-icons {
    margin: 7px 3px 10px 0;
    font-size: 16px !important;
    vertical-align: middle;
}

/*Homepage*/
.slider{
    background-color: black;
}

.home-slider {
    height: 1000px;
    width: 100%;
    padding: 0;
    margin-top: -64px;
}

.hp-caption {
    text-shadow: 0 0 25px #212121;
}

.pfp{
    height: 150px !important;
    width: 150px !important;
    margin-bottom: -40px;
}

/*Forms, Tables, and Inputs*/
fieldset {
    border-radius: 20px;
    border-color: #9e9e9e;
}

/*@media screen and (max-width:600px) {
    #dateTimeDekstop {
        display: none;
    }
    #dateTimeMobile {
        display: block;
    }
}

@media screen and (min-width:601px) {
    #dateTimeDekstop {
        display: block;
    }
    #dateTimeMobile {
        display: none;
    }
}*/

#desktopForm{
    padding: 3%;
    transition: 0.7s ease-in-out;
}

@media screen and (max-width:600px) {
    #desktopForm{
        padding: 0 0 5px 0;
    }
}

/*Fields*/
.input-field label {
    color: #9f9f9f;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #7c4dff;
    box-shadow: 0 1px 0 #7c4dff;
}

.input-field input[type=text]:focus + label,
.input-field .prefix.active, 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    color: #7c4dff;
}

[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:after {
    background-color: #7c4dff;
}

[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:before, 
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #7c4dff;
}