<!DOCTYPE html>
<!--Azistara 2020-->
<!--Written August 18, 2020-->

<head>
    <title>Navigation.</title>
    <meta charset="utf-8" content="width=device-width, initial-scale=0.8," name="viewport">
</head>

<body>
    <nav id="nav" class="blue lighten-2 z-depth-3 navbar-fixed">
        <a href="/index.html" class="brand-logo navLogo">Azistara</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="https://instagram.com/Azistara/">Instagram</a></li>
            <li><a href="https://github.com/Azistara">GitHub</a></li>
        </ul>
    </nav>
</body>